<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block meta %}
        {% endblock %}
        <title>{% block title %}{% endblock %}Grilli - Delicious Grilled Food</title>
        <link rel="icon" href="favicon.svg">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
{% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body id="top">
        {% block body %}{% endblock %}
    </body>
</html>
